<link rel='stylesheet' text='text/css' href='/assets/css/dashboard.css'>
<h1 class="jumbotron">Welcome, {{name}}.</h1>
<div class="card-container">
    {{#each apps}}
        <div class='card' progress={{this.progress}} style="width: 20rem;" id={{this.applicationID}}>
            <div class='card-title company'>
                <h4>{{this.internship.company}}</h4>
            </div>
            <div class='card-text position'>
                <p>{{this.internship.position}}</p>
            </div>
            <div class='card-text deadline'>
                <p>{{this.internship.deadline}}</p>
            </div>
            <div class='card-text company'>
                <a href={{this.internship.url}}>
                    <button class="btn btn-primary">Link</button>
                </a>
            </div>
            <div class='delete'>
                <form action='/{{this.applicationID}}/delete' method='post'><button class='btn btn-danger' type="submit">Delete</button></form>
            </div>
        </div>
    {{/each}}
    
        <div class='card' style="width: 20rem;">
            <form action='/add/submit' method='post'>
                <label class = "lab" for="company">Company</label>
                <input type='text' name="company" class='card-title company'>
                <br/>
                <label class = "lab" for="position">Position</label>
                <input name="position" type='text' class='card-title position'>                
                <br/>
                <label class = "lab" for="deadline">Deadline</label>
                <input name="deadline" type='date' class='card-title deadline'>
                <br/>
                <label class = "lab" for="link">Link</label>
                <input name="link" type='url' class='card-title company'>
                <br/>
                <button class='btn btn-success' type="submit">Add</button>
            </form>
        </div>
        
</div>
<script>
    $(document).ready(function() {
        $("div[progress=todo]").css("background-color","green");
    })    
</script>